<h4>Bonjour, vous avez reçu une demande de réservation au Gaiac</h4>
<p>Nom : <%= @resource["first_name"] @resource["last_name"] %></p>
<p>Email : <%= @resource["email"] %></p>
<p>Téléphone : <%= @resource["phone"] %></p>
<p>Nombre de personne %> : <%= @resource["guest_count"] %></p>
<p>Date : <%= @resource["day"] %></p>
<p>Service : <%= @resource["service"] %></p>
<p>Lieu de résidence : <%= @resource["location"] %></p>
<p>Message : <%= @resource["message"] %></p>
