<% features = current_site.features.live -%>
<% @supersized_images = site.sections.root.images.order(:position) -%>
<div class="container homepage <%= 'featured' if features.any? %>">
  <div class="row">
    <div class="col-xs-12">
      <% if features.any? -%>
        <div class="news-wrapper">
          <% features.each_with_index do |feature, index| %>
            <div class="alert alert-info fade in">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <div class="alert-content-wrapper">
                <div class="alert-content">
                  <% if image = feature.thumbnail(current_site.preferred_features_image_size) %>
                      <%= image_tag(image.url, :class => "img-responsive") %>
                  <% end %>
                  <%= "<h4>#{feature.title}</h4> ".html_safe if feature.title.present? %>
                  <%= "<p>#{feature.body}</p>".html_safe if feature.body.present? %>
                  <% if feature.owner and url = feature.owner.public_url %>
                    <%= link_to(t("features.view_more"), url, :class => 'btn btn-link') %>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
        </div>
      <% end -%>
      <% if resource.body.present? %>
        <div class="homepage-content">
          <%= render_page_title(resource.title) %>
          <%= render_copy_text(resource.body) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
