<h4>Bonjour, vous avez reçu une demande d'informations</h4>
<p>Sujet : <%= @resource["subject"] %></p>
<p>Nom : <%= @resource["first_name"] @resource["last_name"] %></p>
<p>Email : <%= @resource["email"] %></p>
<p>Téléphone : <%= @resource["phone"] %></p>
<p>Message : <%= @resource["message"] %></p>