<% js_day_format = I18n.locale == :en ? "MM dd, yyyy" : "dd MM yyyy" %>
<% ror_day_format = I18n.locale == :en ? "%B %d, %Y" : "%d %B %Y" %>
<% @table_booking = TableBooking.new(:guest_count => 2, :day => l(Date.today, :format => ror_day_format)) unless @table_booking %>
<%= simple_form_for @table_booking, :url => table_bookings_path, 
    :html => {:data => { :remote => true, :method => :post }} do |f| %>
  
  <div class="row">	
    <div class="col-xs-12 form-group">
      <%= f.text_field :first_name, :class => "form-control required", 
      :placeholder => "#{t('simple_form.labels.table_booking.first_name')} *" %>
    </div>
    <div class="col-xs-12 form-group">
      <%= f.text_field :last_name, :class => "form-control required", 
      :placeholder => "#{t('simple_form.labels.table_booking.last_name')} *" %>
    </div>
    <div class="col-xs-12 form-group">
      <%= f.email_field :email, :class => "form-control required", 
      :placeholder => "#{t('simple_form.labels.table_booking.email')} *" %>
    </div>
    <div class="col-xs-12 form-group">
      <%= f.text_field :phone, :class => "form-control required", 
      :placeholder => "#{t('simple_form.labels.table_booking.phone')} *" %>
    </div>
    <div class="col-xs-12 form-group">
      <%= f.text_field :location, :class => "form-control required", 
      :placeholder => "#{t('simple_form.labels.table_booking.location')} *" %>
    </div>
    <div class="col-xs-12 form-group">
      <div class="input-group">
        <%= f.text_field :day, :class => "form-control required date", 
        :data => { :provide => "datepicker", "date-format" => js_day_format, :language => I18n.locale.to_s } %>
        <span class="input-group-addon"><i class="icon-th"></i></span>
      </div>
    </div>
    <div class="col-xs-12 form-group">
      <% table_booking_format = I18n.locale == :en ? "%I.%M %p" : "%H.%M" %>
      <select class="select required" id="table_booking_service" name="table_booking[service]">
        <optgroup label="<%= t(:"simple_form.labels.table_booking.lunch")  %>">
          <option value="12"><%= l(Time.zone.local(2011,4,12,12,0), :format => table_booking_format) %></option>
          <option value="12"><%= l(Time.zone.local(2011,4,12,12,30), :format => table_booking_format) %></option>
          <option value="13"><%= l(Time.zone.local(2011,4,12,13,0), :format => table_booking_format) %></option>
          <option value="13.30"><%= l(Time.zone.local(2011,4,12,13,30), :format => table_booking_format) %></option>
          <option value="14"><%= l(Time.zone.local(2011,4,12,14,0), :format => table_booking_format) %></option>
          <option value="14.30"><%= l(Time.zone.local(2011,4,12,14,30), :format => table_booking_format) %></option>
        </optgroup>
        <optgroup label="<%= t(:"simple_form.labels.table_booking.dinner")  %>">
          <option value="19"><%= l(Time.zone.local(2011,4,12,19,0), :format => table_booking_format) %></option>
          <option value="19.30"><%= l(Time.zone.local(2011,4,12,19,30), :format => table_booking_format) %></option>
          <option value="20"><%= l(Time.zone.local(2011,4,12,20,0), :format => table_booking_format) %></option>
          <option value="20.30"><%= l(Time.zone.local(2011,4,12,20,30), :format => table_booking_format) %></option>
          <option value="21"><%= l(Time.zone.local(2011,4,12,21,0), :format => table_booking_format) %></option>
          <option value="21.30"><%= l(Time.zone.local(2011,4,12,21,30), :format => table_booking_format) %></option>
        </optgroup> 
      </select>
    </div>
    <div class="col-xs-12 form-group">
      <%= f.number_field :guest_count, :max => 20, :maxlength => 2, :min => 1, :step => 1, :class => "form-control required" %>
    </div>
    <div class="col-xs-12 form-group">
      <%= f.text_area :message, :class => "form-control required", :rows => "20", :cols => "30", 
      :placeholder => t('simple_form.labels.table_booking.message') %>
    </div>
    <input type="text" name="table_booking[nickname]" id="table_booking_nickname" value="" class="form-control nickname hidden">
    <div class="col-xs-12 form-group">
      <%= f.button :submit, :class => "btn-primary btn-block" %>
    </div>
    <div class="col-xs-12 form-group">
      <p id="error" data-alert="" class="alert"><%= t("gko.table_booking_error") %></p>
      <p id="thanks" data-alert="" class="alert alert-success"><%= t("table_booking_thanks") %></p>
      <p id="timedout" data-alert="" class="alert"><%= t("gko.table_booking_connection_time_out") %></p>
      <p id="state" data-alert="" class="alert"><%= @table_booking.errors.full_messages.join("<br/>").html_safe %></p>
    </div>
  </div>
  <% end %>